<header id="nav-border" class="header">
    <div class="header__inner">
        <a href="/" title="home" class="logo__link">
            <h1 class="logo__heading">{{ .Site.Title }}</h1>
            <span class="logo__niceness"></span>
        </a>
        <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="nav" class="nav navbar-list">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
</header>
<script>
    document.querySelector('.nav-toggle').addEventListener('click', function () {
        var nav = document.querySelector('.navbar-list');
        var isOpen = nav.classList.toggle('is-open');
        this.setAttribute('aria-expanded', isOpen);
        this.classList.toggle('is-open', isOpen);
    });
</script>