<header class="content">
    <h1><a href="/" class="a-blk" title="Home">CCARV</a></h1>
    <nav class="ctn">
      <ul>
        <li class="ttl-bld-k ttl-xm ctn-hide"><a href="/portfolio/" class="a-blk" title="Portfolio">Portfolio</a></li>
        <li class="fa"><a class="a-blk" href="/portfolio/" title="Portfolio"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
        <li class="ttl-bld-k ttl-xm center"><a href="/about/" class="a-blk" title="About">About</a></li>
        <li class="fa"><a class="a-blk" href="/contact/" title="Contact"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li class="ttl-bld-k ttl-xm ctn-hide"><a href="/contact/" class="a-blk" title="Contact">Reach Out</a></li>
      </ul>
    </nav>

    <div class="circles">
      <ul>
        <a href="/portfolio/" class="a-blk" title="Portfolio"><li></li></a>
        <a href="/about/" class="a-blk" title="About"><li class="blk"></li></a>
        <a href="/contact/" class="a-blk" title="Contact"><li></li></a>
      </ul>
    </div>

    <div class="description ctn-hide">
    <p class="ttl-bld-k">Front End Developer</p>
    <p class="ttl-bld-k">UX/UI designer</p>
  </div>

    <a href="/assets/pdf/cv_claudiacvlho.pdf" class="a-grn ttl-xm ctn-hide" title="My CV"><p class="highlight ttl-bld">Check out my CV</p></a>
  </header>
