form > *{
  margin: 1.5rem 0;
}
textarea{
  height:4rem;
}
textarea, input[type=email] {
    color: $green;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid $grey;
    font-family: $opensans;
    padding: 0.5rem;
    width:100%;
    &:focus{
      border-bottom: 2px solid $green;
      outline: none;
    }
}
button {
  color: #fff;
  background: $grey;
  padding: 0.5rem 1rem;
  border: none;
  font-family: $opensans;
  &:hover {
    background: $green;
  }
}
