$green: #19ba9b;
$blue: #00a8b5;
$grey: #888;

$montserrat: 'Montserrat', Arial, sans-serif;
$opensans: 'Open Sans', Arial, sans-serif;

@mixin trans($arg){
  -webkit-transition: $arg 0.5s ease;
  -moz-transition: $arg 0.5s ease;
  -ms-transition: $arg 0.5s ease;
  -o-transition: $arg 0.5s ease;
  transition: $arg 0.5s ease;
}

html * {
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: $montserrat;
}

p, li, a, h1, h2, h3, h4, h5, h6, span, form {
  &::selection{
    background: $green;
    color:white;
  }
}

.bkg-b{
  background: $blue;
}
.bkg-g{
  background: $green;
}

/* Hyperlinks -------------------------------------- */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags}{
    text-decoration: none;
    @include trans(color);
    color: $green;
    &.a-blk{
      color: #000;
    }
    &.a-grn{
      color: $green;
    }
    &.a-gry{
      color: $grey;
    }
}

#{$a-tags-hover}{
  color: #000;
  &.a-blk{
    color: $green;
  }
  &.a-grn{
    color: #000;
  }
  &.a-gry{
    color: #000;
  }
}
