$gradient-height: 1rem;

.gradient{
  height: $gradient-height;
  margin-left: 30%;
  width:70%;
  clear:both;
  display: table;
  position: absolute;

  > *{
    width: 11.1111%;
    height: $gradient-height;
    float: left;
    @include trans(all);
  }

  &.bottom{
    position:absolute;
    bottom:0;
  }
}

$clr-g-200: #086650;
$clr-g-175: #0d7f64;
$clr-g-150: #108e76;
$clr-g-125: #13a589;


$clr-g-100: #19ba9b;
$clr-g-75: #18c9a7;
$clr-g-50: #1cd3b0;
$clr-g-25: #24e2be;

$clr-0: #4affdc;

$clr-b-25: #2feae4;
$clr-b-50: #2cdddd;
$clr-b-75: #14c2c6;
$clr-b-100: #00a8b5;

$clr-b-125: #00979b;
$clr-b-150: #007982;
$clr-b-175: #005c68;
$clr-b-200: #004960;

/* Gradient Classes */
.a{
  &.one{background: $clr-0;}
  &.two{background: $clr-b-25;}
  &.three{background: $clr-b-50;}
  &.four{background: $clr-b-75;}
  &.five{background: $clr-b-100;}
  &.six{background: $clr-b-125;}
  &.seven{background: $clr-b-150;}
  &.eight{background: $clr-b-175;}
  &.nine{background: $clr-b-200;}
}

.b{
  &.one{background: $clr-g-25;}
  &.two{background: $clr-0;}
  &.three{background: $clr-b-25;}
  &.four{background: $clr-b-50;}
  &.five{background: $clr-b-75;}
  &.six{background: $clr-b-100;}
  &.seven{background: $clr-b-125;}
  &.eight{background: $clr-b-150;}
  &.nine{background: $clr-b-175;}
}

.c{
  &.one{background: $clr-g-50;}
  &.two{background: $clr-g-25;}
  &.three{background: $clr-0;}
  &.four{background: $clr-b-25;}
  &.five{background: $clr-b-50;}
  &.six{background: $clr-b-75;}
  &.seven{background: $clr-b-100;}
  &.eight{background: $clr-b-125;}
  &.nine{background: $clr-b-150;}
}

.d{
  &.one{background: $clr-g-75;}
  &.two{background: $clr-g-50;}
  &.three{background: $clr-g-25;}
  &.four{background: $clr-0;}
  &.five{background: $clr-b-25;}
  &.six{background: $clr-b-50;}
  &.seven{background: $clr-b-75;}
  &.eight{background: $clr-b-100;}
  &.nine{background: $clr-b-125;}
}

.e{
  &.one{background: $clr-g-100;}
  &.two{background: $clr-g-75;}
  &.three{background: $clr-g-50;}
  &.four{background: $clr-g-25;}
  &.five{background: $clr-0;}
  &.six{background: $clr-b-25;}
  &.seven{background: $clr-b-50;}
  &.eight{background: $clr-b-75;}
  &.nine{background: $clr-b-100;}
}

.f{
  &.one{background: $clr-g-125;}
  &.two{background: $clr-g-100;}
  &.three{background: $clr-g-75;}
  &.four{background: $clr-g-50;}
  &.five{background: $clr-g-25;}
  &.six{background: $clr-0;}
  &.seven{background: $clr-b-25;}
  &.eight{background: $clr-b-50;}
  &.nine{background: $clr-b-75;}
}

.g{
  &.one{background: $clr-g-150;}
  &.two{background: $clr-g-125;}
  &.three{background: $clr-g-100;}
  &.four{background: $clr-g-75;}
  &.five{background: $clr-g-50;}
  &.six{background: $clr-g-25;}
  &.seven{background: $clr-0;}
  &.eight{background: $clr-b-25;}
  &.nine{background: $clr-b-50;}
}

.h{
  &.one{background: $clr-g-175;}
  &.two{background: $clr-g-150;}
  &.three{background: $clr-g-125;}
  &.four{background: $clr-g-100;}
  &.five{background: $clr-g-75;}
  &.six{background: $clr-g-50;}
  &.seven{background: $clr-g-25;}
  &.eight{background: $clr-0;}
  &.nine{background: $clr-b-25;}
}

.i{
  &.one{background: $clr-g-200;}
  &.two{background: $clr-g-175;}
  &.three{background: $clr-g-150;}
  &.four{background: $clr-g-125;}
  &.five{background: $clr-g-100;}
  &.six{background: $clr-g-75;}
  &.seven{background: $clr-g-50;}
  &.eight{background: $clr-g-25;}
  &.nine{background: $clr-0;}
}
