.post-list {
  h2{
    margin:0;
    padding: 7rem 2rem 1.5rem;
    background: #E0E0E0;
    border: 0.1rem solid white;
    cursor: pointer;
   }
  .post-content{
    padding: 0 1.5rem 2rem;
    display: none;
  }
  ul{
    list-style: disc;
    margin: 1.5rem;
  }
}
